* { box-sizing: border-box; }

body {background-color:#90C7E3; color:#666666; font-family: Verdana,Arial, san-serif;}


h1 {color: #FFFFFF; font-family: Georgia, serif; text-align: center; font-size:1.5em;}

nav {font-weight: bold; padding-top: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; font-size:1.2em; text-align:center; background-color: #FFFFFF;}

nav a {text-decoration: none;}
nav a:link {color:#5C7FA3}
nav a:visited {color:#344873}
nav a:hover { color:#A52A2A}

nav ul {display: flex; flex-direction: column; list-style-type: none; margin: 0; padding-left:0}

nav li {padding-bottom: 0.5em; padding-top: 0.5em; padding-left:1em; padding-right: 1em; width:100%; border-bottom: 1px}

h2 {color:#1976D2; font-family: Georgia, serif;}

h3 {font-family: Georgia, serif;}

dt {font-weight: bold; background-color: #002171; color:white;}

.resort {color:#1976D2; font-size: 1.2em;}

footer {font-size: 0.7em; font-style: italic; text-align: center; padding: 1em; background-color: #FFFFFF;}

#wrapper { background-color: #FFFFFF; min-width:960px; max-width: 2048px;}

#header {background-color: #002171; background-position: right; padding: 1em;}

header a {text-decoration:none}
header a:link {color:#FFFFFF}
header a:visited {color:#FFFFFF}
header a:hover {color:#90C7E3}

#main {padding-left: 1em; padding-right: 1em; padding-top: 0em; padding-bottom:0em}

.section {padding-left: 0.5em; padding-right:0.5em;}

#homehero {height: 300px; background-image: url(coast.jpg); background-repeat: no-repeat; background-size: 200% 100%; }

#yurthero {height: 300px; background-image: url(yurt.jpg); background-repeat: no-repeat; background-size: 200% 100%;}

#trailhero {height: 300px; background-image: url(trail.jpg); background-repeat: no-repeat; background-size: 200% 100%;}

#mobile {display: inline}
#desktop {display: none}

@media (min-width: 600px) {h1 { font-size:2em; letter-spacing:0.25em} nav ul {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:space-around; padding-right: 2em;} nav li {width:12em, border-bottom:none} .section {padding-right: 2em; padding-left: 2em;} #mobile {display: none} #desktop {display: inline} #flow {display: flex; flex-direction: row} #homehero {background-size: 100% 100%} #yurthero {background-size: 100% 100%} #trailhero {background-size: 100% 100%}}

@media (min-width: 1024px) {body {background-image: linear-gradient(to bottom, #FFFFFF 20%, #90C7E3 60%, #FFFFFF 100%);} nav ul {padding-left: 10%, padding-right: 10%} #wrapper {margin: auto, width: 80%}
